[submodule "BEVFormer"]
	path = BEVFormer
	url = https://github.com/fundamentalvision/BEVFormer.git
[submodule "SurroundOcc"]
	path = SurroundOcc
	url = https://github.com/weiyithu/SurroundOcc.git
[submodule "MonoScene"]
	path = MonoScene
	url = https://github.com/astra-vision/MonoScene.git
[submodule "BEVPerception-Survey-Recipe"]
	path = BEVPerception-Survey-Recipe
	url = https://github.com/OpenPerceptionX/BEVPerception-Survey-Recipe.git
[submodule "vimrc"]
	path = vimrc
	url = https://github.com/amix/vimrc.git
[submodule "FCOS"]
	path = FCOS
	url = https://github.com/tianzhi0549/FCOS.git
[submodule "mmdetection3d"]
	path = mmdetection3d
	url = https://github.com/open-mmlab/mmdetection3d.git
	branch = main
[submodule "mmcv"]
	path = mmcv
	url = https://github.com/open-mmlab/mmcv.git
[submodule "SUSTechPOINTS"]
	path = SUSTechPOINTS
	url = https://github.com/naurril/SUSTechPOINTS.git
[submodule "latte"]
	path = latte
	url = https://github.com/bernwang/latte.git
[submodule "decisionmaking"]
	path = decisionmaking
	url = https://github.com/algorithmsbooks/decisionmaking.git
[submodule "nuplan-devkit"]
    path = nuplan-devkit
	url = https://github.com/motional/nuplan-devkit.git
[submodule "nuscenes-devkit"]
    path = nuscenes-devkit
	url = https://github.com/nutonomy/nuscenes-devkit.git
[submodule "BEVDet"]
	path = BEVDet
	url = https://github.com/HuangJunJie2017/BEVDet.git
	branch = dev2.1
[submodule "BEVFusion"]
	path = BEVFusion
	url = https://github.com/ADLab-AutoDrive/BEVFusion.git
[submodule "mmengine"]
	path = mmengine
	url = https://github.com/open-mmlab/mmengine.git
[submodule "mmdetection"]
	path = mmdetection
	url = https://github.com/open-mmlab/mmdetection.git
[submodule "lift-splat-shoot"]
	path = lift-splat-shoot
	url = https://github.com/nv-tlabs/lift-splat-shoot.git
[submodule "PETR"]
	path = PETR
	url = https://github.com/megvii-research/PETR.git
[submodule "pytorch-image-models"]
	path = pytorch-image-models
	url = https://github.com/huggingface/pytorch-image-models.git
