[submodule "BEVFormer"]
	path = BEVFormer
	url = https://github.com/fundamentalvision/BEVFormer.git
[submodule "SurroundOcc"]
	path = SurroundOcc
	url = https://github.com/weiyithu/SurroundOcc.git
[submodule "MonoScene"]
	path = MonoScene
	url = https://github.com/astra-vision/MonoScene.git
[submodule "BEVPerception-Survey-Recipe"]
	path = BEVPerception-Survey-Recipe
	url = https://github.com/OpenPerceptionX/BEVPerception-Survey-Recipe.git
[submodule "vimrc"]
	path = vimrc
	url = https://github.com/amix/vimrc.git
[submodule "FCOS"]
	path = FCOS
	url = https://github.com/tianzhi0549/FCOS.git
[submodule "mmdetection3d"]
	path = mmdetection3d
	url = https://github.com/open-mmlab/mmdetection3d.git
[submodule "mmcv"]
	path = mmcv
	url = https://github.com/open-mmlab/mmcv.git
[submodule "SUSTechPOINTS"]
	path = SUSTechPOINTS
	url = https://github.com/naurril/SUSTechPOINTS.git
[submodule "latte"]
	path = latte
	url = https://github.com/bernwang/latte.git
[submodule "decisionmaking"]
	path = decisionmaking
	url = https://github.com/algorithmsbooks/decisionmaking.git
